# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Mac OS X files
.DS_Store

# SVN
.svn
tools/DebugPlugins/build
tools/DebugPlugins/bin
bin
build
Makefile.Debug
Makefile.Release
*.pro.user
Makefile
TODO.*
*.pro.user.*
*.qm
*.update
release-files
