<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>MacOSX.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Xesc &amp; Technology 2017</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleIdentifier</key>
	<string>com.Xesc&amp;Technology.xVideoServiceThief</string>
	<key>CFBundleExecutable</key>
	<string>xVideoServiceThief</string>
	<key>CFBundleShortVersion</key>
	<string>3.0</string>
	<key>CFBundleVersion</key>
	<string>3.0.0</string>
	<key>CFBundleDisplayName</key>
	<string>xVideoServiceThief</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2007-2017 Xesc &amp; Technology</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MinimumSystemVersion</key>
		<string>10.6.0</string>
	</dict>
</dict>
</plist>
