// program icon
    IDI_ICON1	ICON	DISCARDABLE "icons/win32.ico"

// program version info  
    1 VERSIONINFO
     FILEVERSION 2,5,0,0
     PRODUCTVERSION 2,5,0,0
     FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
     FILEFLAGS 0x1L
#else
     FILEFLAGS 0x0L
#endif
     FILEOS 0x4L
     FILETYPE 0x2L
     FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "040904e4"
            BEGIN
#ifdef STATIC_BUILD
                VALUE "Comments", "The xVST is Stable version (Static build)\0"
#else
                VALUE "Comments", "The xVST is Stable version (dynamic build)\0"
#endif
                VALUE "CompanyName", "Xesc & Technology\0"
                VALUE "FileDescription", "Download videos from Internet Video Services\0"
                VALUE "FileVersion", "2.5.0\0"
                VALUE "InternalName", "xVST\0"
                VALUE "LegalCopyright", "Copyright (C) 2013 Xesc & Technology\0"
                VALUE "LegalTrademarks", "\0"
                VALUE "OriginalFilename", "xVideoServiceThief.exe\0"
                VALUE "ProductName", "xVideoServiceThief\0"
                VALUE "ProductVersion", "2.5.0\0"
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x409, 1252
        END
    END
