// program icon
    IDI_ICON1	ICON	DISCARDABLE "icons/win32.ico"

// program version info  
    1 VERSIONINFO
	 FILEVERSION 1,1,0,0
	 PRODUCTVERSION 1,1,0,0
     FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
     FILEFLAGS 0x1L
#else
     FILEFLAGS 0x0L
#endif
     FILEOS 0x4L
     FILETYPE 0x2L
     FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "040904e4"
            BEGIN
#ifdef STATIC_BUILD
				VALUE "Comments", "The DebugPlugins is Stable version (Static build)\0"
#else
				VALUE "Comments", "The DebugPlugins is Stable version (dynamic build)\0"
#endif
                VALUE "CompanyName", "Xesc & Technology\0"
				VALUE "FileDescription", "Create and debug your xVST plug-ins\0"
				VALUE "FileVersion", "1.1\0"
				VALUE "InternalName", "DebugPlugins\0"
                VALUE "LegalCopyright", "Copyright (C) 2009 Xesc & Technology\0"
                VALUE "LegalTrademarks", "\0"
				VALUE "OriginalFilename", "DebugPlugins.exe\0"
				VALUE "ProductName", "DebugPlugins\0"
				VALUE "ProductVersion", "1.1\0"
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x409, 1252
        END
    END
